<h1>Volleyball</h1>

<div class="container">
  <img class="futbol-fondo" src="assets/voley-fondo.jpg" alt="Fondo de vóley">
  <div class="row">
    <div class="col-md-4 mb-5" *ngFor="let card of cards">
      <div class="main-card card">
        <img [src]="card.imagen" class="card-img-top" alt="Imagen">
        <div class="card-body">
          <h5 class="card-title">{{ card.titulo }}</h5>
          <p class="card-text">{{ card.descripcion }}</p>
          <a href="#" class="btn unirse btn-primary">
            Sumarse
            <p class="vacantes">{{ card.vacantes }}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
