<div class="center">
  <div class="fondo_perfil">
    <img class="fondo_perfil" src="https://images.unsplash.com/photo-1519331379826-f10be5486c6f?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cGFyayUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D" alt="">
  </div>

  <div class="perfil-container" *ngIf="usuario">
    <div class="portada">
      <label for="portadaInput">
        <img [src]="imagenPortadaCargada" alt="Imagen de portada" style="cursor: pointer;" />
      </label>
      <input type="file" (change)="subirImagen($event, 'portada')" id="portadaInput" style="display: none;">
    </div>

    <div class="perfil-info">
      <label for="perfilInput">
        <img class="foto-perfil" [src]="imagenPerfilCargada" alt="Foto de perfil" style="cursor: pointer;" />
      </label>
      <input type="file" (change)="subirImagen($event, 'perfil')" id="perfilInput" style="display: none;">

      <h2>{{ usuario.nombre }} {{ usuario.apellido }}</h2>

      <div *ngIf="!editarDescripcion">
        <p *ngIf="usuario.descripcion_usuario && usuario.descripcion_usuario.trim().length > 0" class="bio" style="font-size: 20px; color: rgb(255, 255, 255); ">
          {{ usuario.descripcion_usuario}}
        </p>
        <p *ngIf="!usuario.descripcion_usuario || usuario.descripcion_usuario.trim().length === 0" 
           class="bio placeholder" (click)="activarEdicion()" style="cursor:pointer; font-size: 20px; background-color: rgba(151, 151, 151, 0);">
          Agrega una descripción
        </p>
        <button *ngIf="usuario.descripcion_usuario && usuario.descripcion_usuario.trim().length > 0"
                (click)="activarEdicion()">Editar descripción</button>
      </div>

      <div *ngIf="editarDescripcion">
        <textarea [(ngModel)]="nuevaDescripcion" rows="4" placeholder="Agrega una descripción"></textarea>
        <button (click)="guardarDescripcion()">Guardar descripción</button>
        <button (click)="cancelarEdicion()">Cancelar</button>
      </div>

      <div class="acciones">
        <button><a href="http://localhost:4200/home/inicio">Inicio</a></button>
      </div>
    </div>
  </div>

  <div class="salas" *ngIf="salas && salas.length > 0">
    <div class="sala-card" *ngFor="let sala of salas">
      <div class="sala-info">
        <h3 class="sala-nombre">{{ sala.nombre_sala }}</h3>
        <span class="sala-deporte">🏅 {{ sala.deporte }}</span>
        <p class="sala-descripcion">{{ sala.descripcion }}</p>
        <button (click)="irASala(sala.id_sala)">Ir a la sala</button>
      </div>
    </div>
  </div>

  <div *ngIf="!usuario">
    <p>Cargando información del perfil...</p>
  </div>
</div>
