<h1>Futbol</h1>
    
    <div class="container">
      
      <img class="futbol-fondo" src="assets/fondo-futbol.jpg" alt="Fondo de fútbol">
      <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4 mb-5">
          <div class="main-card card ">
            <img src="assets/futbol-card.jpg" class="card-img-top" alt="Imagen">
            <div class="card-body">
              <h5 class="card-title">FUTBOL 5 A LAS 19:00 HS</h5>
              <p class="card-text">faltan 6 para un futbol 5 en la cancha "el zurdo", callefalsa 123 </p>
              <a routerLink="/salas" class="btn unirse btn-primary"> Sumarse <p class="vacantes">1/6</p></a>
            </div>
          </div>
        </div>
            <!-- Card 1 -->
        <div class="col-md-4 mb-5">
          <div class="main-card card ">
            <img src="assets/futbol-card.jpg" class="card-img-top" alt="Imagen">
            <div class="card-body">
              <h5 class="card-title">FUTBOL 5 A LAS 19:00 HS</h5>
              <p class="card-text">faltan 6 para un futbol 5 en la cancha "el zurdo", callefalsa 123 </p>
              <a href="#" class="btn unirse btn-primary"> Sumarse <p class="vacantes">1/6</p></a>
            </div>
          </div>
        </div>
            <!-- Card 1 -->
        <div class="col-md-4 mb-5">
          <div class="main-card card ">
            <img src="assets/futbol-card.jpg" class="card-img-top" alt="Imagen">
            <div class="card-body">
              <h5 class="card-title">FUTBOL 5 A LAS 19:00 HS</h5>
              <p class="card-text">faltan 6 para un futbol 5 en la cancha "el zurdo", callefalsa 123 </p>
              <a href="#" class="btn unirse btn-primary"> Sumarse <p class="vacantes">1/6</p></a>
            </div>
          </div>
        </div>
            <!-- Card 1 -->
        <div class="col-md-4 mb-5">
          <div class="main-card card ">
            <img src="assets/futbol-card.jpg" class="card-img-top" alt="Imagen">
            <div class="card-body">
              <h5 class="card-title">FUTBOL 5 A LAS 19:00 HS</h5>
              <p class="card-text">faltan 6 para un futbol 5 en la cancha "el zurdo", callefalsa 123 </p>
              <a href="#" class="btn unirse btn-primary"> Sumarse <p class="vacantes">1/6</p></a>
            </div>
          </div>
        </div>
            <!-- Card 1 -->
        <div class="col-md-4 mb-5">
          <div class="main-card card ">
            <img src="assets/futbol-card.jpg" class="card-img-top" alt="Imagen">
            <div class="card-body">
              <h5 class="card-title">FUTBOL 5 A LAS 19:00 HS</h5>
              <p class="card-text">faltan 6 para un futbol 5 en la cancha "el zurdo", callefalsa 123 </p>
              <a href="#" class="btn unirse btn-primary"> Sumarse <p class="vacantes">1/6</p></a>
            </div>
          </div>
        </div>
            <!-- Card 1 -->
        <div class="col-md-4 mb-5">
          <div class="main-card card ">
            <img src="assets/futbol-card.jpg" class="card-img-top" alt="Imagen">
            <div class="card-body">
              <h5 class="card-title">FUTBOL 5 A LAS 19:00 HS</h5>
              <p class="card-text">faltan 6 para un futbol 5 en la cancha "el zurdo", callefalsa 123 </p>
              <a href="#" class="btn unirse btn-primary"> Sumarse <p class="vacantes">1/6</p></a>
            </div>
          </div>
        </div>



        



    </div>
  <button class="btn-float" (click)="agregarCard()">＋</button>
  <div class="row">
  <div *ngFor="let card of cards" class="col-md-4 mb-5">
    <div class="main-card card">
      <img [src]="card.image" class="card-img-top" alt="Imagen">
      <div class="card-body">
        <h5 class="card-title">{{ card.title }}</h5>
        <p class="card-text">{{ card.description }}</p>
        <a href="#" class="btn unirse btn-primary">
          Sumarse <p class="vacantes">{{ card.vacantes }}</p>
        </a>
      </div>
    </div>
  </div>
</div>
