<div class="chat-flotante" [class.abierto]="chatAbierto">
  <div class="chat-header" (click)="toggleChat()">
    💬 Chat en vivo
  </div>

  <div class="chat-body" *ngIf="chatAbierto">
    <div class="mensajes">
      <div *ngFor="let mensaje of mensajes" class="mensaje">
        <strong>{{ mensaje.remitente }}:</strong>
        <span>{{ mensaje.contenido }}</span>
        <small class="hora">({{ mensaje.timestamp | date:'shortTime' }})</small>
      </div>
    </div>

    <div class="entrada">
      <div class="nombre-usuario">
         {{ nombreUsuario }}
      </div>

      <input [(ngModel)]="contenido" placeholder="Escribe un mensaje" class="texto" (keyup.enter)="enviarMensaje()" />
      <button (click)="enviarMensaje()">Enviar</button>
    </div>
  </div>
</div>
