
<h1>Basketball</h1>
    
    <div class="container">
      
      <img class="basket-fondo" src="assets/fondo-futbol.jpg" alt="Fondo de basket">
      <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <img src="https://via.placeholder.com/286x180" class="card-img-top" alt="Imagen">
            <div class="card-body">
              <h5 class="card-title">Card 1</h5>
              <p class="card-text">Contenido de la primera tarjeta.</p>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <img src="https://via.placeholder.com/286x180" class="card-img-top" alt="Imagen">
            <div class="card-body">
              <h5 class="card-title">Card 2</h5>
              <p class="card-text">Contenido de la segunda tarjeta.</p>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <img src="https://via.placeholder.com/286x180" class="card-img-top" alt="Imagen">
            <div class="card-body">
              <h5 class="card-title">Card 3</h5>
              <p class="card-text">Contenido de la tercera tarjeta.</p>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>

        <!-- Card 4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <img src="https://via.placeholder.com/286x180" class="card-img-top" alt="Imagen">
            <div class="card-body">
              <h5 class="card-title">Card 4</h5>
              <p class="card-text">Contenido de la cuarta tarjeta.</p>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>

        <!-- Card 5 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <img src="https://via.placeholder.com/286x180" class="card-img-top" alt="Imagen">
            <div class="card-body">
              <h5 class="card-title">Card 5</h5>
              <p class="card-text">Contenido de la quinta tarjeta.</p>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>

        <!-- Card 6 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <img src="https://via.placeholder.com/286x180" class="card-img-top" alt="Imagen">
            <div class="card-body">
              <h5 class="card-title">Card 6</h5>
              <p class="card-text">Contenido de la sexta tarjeta.</p>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  