<div class="login-container">
  <h2>Iniciar Sesión</h2>
  <form (ngSubmit)="onLogin()">
    <div>
      <label>Correo:</label>
      <input type="email" [(ngModel)]="correo" name="correo" required />
    </div>
    <div>
      <label>Contraseña:</label>
      <input type="password" [(ngModel)]="password" name="password" required />
    </div>
    <button type="submit">Login</button>
    <div *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</div>
  </form>

  <!-- Botón para volver a la landing page -->
  <div style="text-align: center; margin-top: 20px;">
    <button type="button" (click)="volverLanding()">Registrarse</button>

  </div>
</div>
