

<div *ngIf="salaDeporte && !salaDeporte.error">
  <h2>{{ salaDeporte.nombre_sala }}</h2>

  <p><strong>Deporte:</strong> {{ salaDeporte.deporte }}</p>
  <p><strong>Descripción:</strong> {{ salaDeporte.descripcion }}</p>
  <p><strong>Ubicación:</strong> {{ salaDeporte.ubicacion }}</p>
  <p><strong>Horario:</strong> {{ salaDeporte.horario_sala }}</p>

  <!-- Google Maps -->
  <iframe
    *ngIf="mapaUrl"
    width="100%"
    height="300"
    frameborder="0"
    style="border:0"
    [src]="mapaUrl"
    allowfullscreen>
  </iframe>

  <!-- Lista de integrantes -->
  <h3>Integrantes</h3>
  <ul>
    <li *ngFor="let integrante of integrantes">
      {{ integrante }}
    </li>
  </ul>

  <!-- Chat -->
  <app-chat></app-chat>

  <!-- Botón de acción según si es creador o no -->
<div style="margin-top: 20px;">
  <button 
    *ngIf="esCreador"
    (click)="eliminarSala(salaDeporte.id_sala)"
    style="background-color: red; color: white; padding: 10px 20px; border: none; border-radius: 5px;">
    Eliminar grupo
  </button>

  <button 
    *ngIf="!esCreador"
    (click)="salirDelGrupo(salaDeporte.id_sala)"
    style="background-color: red; color: white; padding: 10px 20px; border: none; border-radius: 5px;">
    Salir del grupo
  </button>
  <a href="">
    <button style="background-color: rgb(40, 196, 66); color: white; padding: 10px 20px; border: none; border-radius: 5px;margin-left: 5px;">
    Volver al inicio
  </button>
  </a>
  
</div>


</div>

<div *ngIf="salaDeporte?.error">
  <p style="color: red">{{ salaDeporte.error }}</p>
</div>
